:root {
	--base-font-size: 145%;
	--base-font-family: "Proxima Nova", sans-serif;
	--base-line-height: 1.4;
	--background-colour: #262626;
	--text-colour: #e1e1e1;
	--link-colour: #fff;
	--link-colour-visited: #dedede;
}

body {
	font-size: var(--base-font-size);
	background-color: var(--background-colour);
	line-height: var(--base-line-height);
	color: var(--text-colour);
}

.banner {
	padding: 1.5em 1em;
	background: #0000000a;
	border-bottom: 0.1em solid #00000014;
}

@media screen and (min-width: 52.5em) {
	.navigation {
		display: flex;
		justify-content: space-between;
	}
}

* + .social-links {
	margin-top: 1.8em;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.tagline {
	font-size: calc(1em + 1vw);
	padding: 1em;
	border: solid 0.35em;
	margin: 1em;
}

.bio {
	padding: 0 2em;
}

.bio-line {
	font-size: calc(1em + 0.25vw);
}

.bio * + * {
	margin-top: 1em;
}
