<ul class="social-links" ...attributes>
	{{#unless this.isProfessional}}
		<li class="social-link">
			<a href="https://twitter.com/#!/SGoresht" target="_blank" rel="noopener noreferrer">
				<IconifyIcon @icon="logos:twitter"/>
			</a>
		</li>
		<li class="social-link">
			<a href="https://facebook.com/sean.goresht" target="_blank" rel="noopener noreferrer">
				<IconifyIcon @icon="logos:facebook"/>
			</a>
		</li>
		<li class="social-link">
			<a href="https://www.soundcloud.com/sean-goresht" target="_blank" rel="noopener noreferrer">
				<IconifyIcon @icon="logos:soundcloud"/>
			</a>
		</li>
		<li class="social-link">
			<a href="https://instagram.com/goreseanathon" target="_blank" rel="noopener noreferrer">
				<IconifyIcon @icon="logos:instagram-icon"/>
			</a>
		</li>
	{{/unless}}
	<li class="social-link">
		<a href="https://github.com/srsgores" target="_blank" rel="noopener noreferrer">
			<IconifyIcon @icon="mdi:github"/>
		</a>
	</li>
	<li class="social-link">
		<a href="https://ca.linkedin.com/pub/sean-goresht/3b/22a/878" target="_blank" rel="noopener noreferrer">
			<IconifyIcon @icon="logos:linkedin-icon"/>
		</a>
	</li>
	<li class="social-link">
		<a href="https://codepen.io/srsgores" target="_blank" rel="noopener noreferrer">
			<IconifyIcon @icon="logos:codepen-icon"/>
		</a>
	</li>
	<li class="social-link">
		<a href="https://www.youtube.com/channel/UCECXfbvhnD8O2Q8f-DTFDeA/videos" target="_blank" rel="noopener noreferrer">
			<IconifyIcon @icon="logos:youtube-icon"/>
		</a>
	</li>
	{{yield}}
</ul>