.overlayed-image {
	position: relative;
	overflow: hidden;
	--top-offset: 0;
	--overlayed-image-background-colour: linear-gradient(60deg, rgba(0, 0, 0, 0.58) 50%, rgba(255, 255, 255, 0) 100%);
}

.overlayed-image-header {
	padding: 15% 10%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	background: var(--overlayed-image-background-colour);
}

.overlayed-image-title {
	font-size: calc(2.5em + 1.5vw);
}

.overlayed-image-description {
	font-size: calc(1em + 0.25vw);
}

.overlayed-image .eri-responsive {
	position: absolute;
	top: var(--top-offset);
	left: 0;
	z-index: -1;
}

@media screen and (max-width: 55em) {
	.overlayed-image .eri-responsive {
		inset: 0;
		max-width: none;
		width: clamp(100%, 40em, calc(35vh + 50em));
	}
}
