{{page-title "Sean Goresht"}}

<header aria-label="Banner, site information">
	<Navigation>
		<ul class="nav-items secondary-navigation" aria-label="contact links">
			<li class="nav-item">
				<a href="mailto:seangores@gmail.com" class="nav-item-link">E-mail ✉</a>
			</li>
		</ul>
	</Navigation>
</header>

<main>
	{{outlet}}
</main>