{{page-title "Home"}}

<OverlayedImage @image="sean-sitting-by-outdoor-education-centre.jpg" @alt="Sean Goresht, perched on a rock, looking upwards to the sky in an open field" as |section|>
	<section.title>Sean Goresht</section.title>
	<section.description>Front-end web developer, coder, musician, creative</section.description>
	<SocialLinks/>
</OverlayedImage>

<PageSection class="full" as |pageSection|>
	<pageSection.title>Front-End Web Developer, Creative</pageSection.title>
	<Grid as |grid|>
		<grid.column>
			<ResponsiveImage @src="assets/images/sean-nashville-north-cropped-1-1.jpg" alt="Sean smiling openly"/>
		</grid.column>
		<grid.column class="bio">
			<blockquote class="tagline">
				<q>Hey, I'm <strong>Sean</strong>: a <strong>front-end web developer</strong> from <em>Calgary, Alberta, Canada 🍁</em></q>
			</blockquote>
			<p class="bio-line">Currently, I work as a <em>Senior Front-end Software Engineer</em> at <a href="https://synopsys.com" target="_blank" rel="noopener noreferrer">Synopsys Inc.</a>, where I write <a href="https://emberjs.com" target="_blank" rel="noopener noreferrer">EmberJS enterprise software</a></p>
			<p class="bio-line">I've also extensively <a href="https://seangoes.world" target="_blank" rel="noopener noreferrer">travelled the world</a> and have <a href="https://anchor.fm/sean-g7/" target="_blank" rel="noopener noreferrer">my own podcast on front-end web development</a>.</p>
		</grid.column>
	</Grid>
</PageSection>

<PageSection id="specialties" as |section|>
	<section.title>Specialties</section.title>
	<p>Creating rich <em>Javascript</em> applications has been a passion of mine since the early 2000s. From <a href="https://ca.linkedin.com/pub/sean-goresht/3b/22a/878" target="_blank" rel="noopener noreferrer">teaching at various institutions</a>, I have a strong understanding of the way <abbr title="Single Page Applications">SPA</abbr> frameworks work:</p>
	<ul class="specialties">
		<li class="specialty">
			<strong title="Useful for client-side diffing and apps that require frequently-updating data"><a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer">ReactJS</a></strong>: worked with gatsby, react-starter, and current instructor/mentor at <a href="https://lighthouselabs.ca/" target="_blank" rel="noopener noreferrer">LightHouse Labs</a></li>
		<li class="specialty">
			<strong><a href="http://https://vuejs.org/">VueJS</a></strong>: written, contributed, and worked in <a href="/https://www.npmjs.com/package/vue-cli-plugin-cordova" target="_blank" rel="noopener noreferrer">vue-cordorva</a> packages; met and spoke with Evan You, creator in late 2017 at <a href="https://dotcss.io/">DotCSS</a>
		</li>
		<li class="specialty">
			<strong><a href="http://https://angularjs.org/" target="_blank" rel="noopener noreferrer">AngularJS</a></strong>: 4 years' experience; worked in enterprise companies developing financial recordkeeping apps along with <a href="https://ca.linkedin.com/pub/sean-goresht/3b/22a/878" target="_blank" rel="noopener noreferrer">identity management software</a>
		</li>
		<li class="specialty">
			<strong><a href="https://emberjs.com/" target="_blank" rel="noopener noreferrer">EmberJS</a></strong>: early adopter since sproutCore days; open-source contributor. 8 years' experience
		</li>
	</ul>
	<p><a href="https://ca.linkedin.com/pub/sean-goresht/3b/22a/878" target="_blank" rel="noopener noreferrer">
		View my detailed work history <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
			<title>linkedin icon</title>
			<path fill="#0077b5" d="M27.263 27.269h-4.739v-7.425c0-1.771-0.036-4.049-2.469-4.049-2.471 0-2.848 1.927-2.848 3.919v7.556h-4.739v-15.269h4.552v2.081h0.061c0.636-1.2 2.183-2.467 4.493-2.467 4.801 0 5.689 3.16 5.689 7.273v8.381zM7.116 9.911c-1.525 0-2.751-1.235-2.751-2.753 0-1.517 1.227-2.751 2.751-2.751 1.52 0 2.752 1.233 2.752 2.751 0 1.519-1.233 2.753-2.752 2.753zM9.492 27.269h-4.752v-15.269h4.752v15.269zM29.633 0h-27.272c-1.305 0-2.361 1.032-2.361 2.305v27.389c0 1.275 1.056 2.305 2.361 2.305h27.268c1.304 0 2.371-1.031 2.371-2.305v-27.389c0-1.273-1.067-2.305-2.371-2.305h0.004z"></path>
		</svg>
	</a></p>
</PageSection>

<PageSection id="other-specialties" as |section|>
	<section.title>Other Specialties</section.title>
	<ul class="sub-specialties">
		<li class="sub-specialty">HTML</li>
		<li class="sub-specialty">Web Accessibility</li>
		<li class="sub-specialty">CSS</li>
		<li class="sub-specialty">JavaScript</li>
		<li class="sub-specialty">SEO, HTML5 Microdata</li>
	</ul>
	<aside>
		<p>
			<small>(<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter" target="_blank" rel="nofollow noopener noreferrer"><code>&lt;meter&gt;</code></a> on skills are pointless; I am <em>good</em> at all of these things)
			</small>
		</p>
	</aside>
</PageSection>

<PageSection id="other-resumes" as |pageSection|>
	<pageSection.title>My Other Resumes</pageSection.title>
	<PageSection id="travel" as |nestedSection|>
		<nestedSection.title>Travel</nestedSection.title>
		<p>Once I started travelling, I couldn't stop.</p>
		<details>
			<summary>I've been to <strong>a lot</strong> of countries</summary>
			<ul class="countries">
				<li>Nicaragua</li>
				<li>Vietnam</li>
				<li>Japan</li>
				<li>Taiwan</li>
				<li>Mexico</li>
				<li>France</li>
				<li>Morocco</li>
				<li>Portugal</li>
				<li>United States</li>
				<li>Guadeloupe</li>
				<li>Jamaica</li>
				<li>Trinidad &amp; Tobago</li>
				<li>China</li>
				<li>Singapore</li>
				<li>India</li>
				<li>Thailand</li>
				<li>Malaysia</li>
				<li>Cambodia</li>
			</ul>
		</details>
	</PageSection>

	<PageSection id="photography" as |nestedSection|>
		<nestedSection.title>Photography</nestedSection.title>

		<p>Whenever I travel, I try to capture as many of those breathtaking moments as I can. Sometimes, it isn't easy, but I do my best. My process for post-production generally involves correcting the lens profile and the obvious sharpening, detail, and contrast adjustments.</p>

		<p>I own the <a href="https://google.ca/search?q=sony+a7r2" target="_blank" rel="nofollow noopener noreferrer">sony a7r2 mirrorless, <em>full-frame</em> camera</a>, and I have picked up many versatile lenses over the years, leading to a wealthy library of photos.</p>
		<p><LinkTo @route="photography">Check out my photos 📷</LinkTo></p>
	</PageSection>

	<PageSection id="music" as |nestedSection|>
		<nestedSection.title>Music</nestedSection.title>
		<iframe scrolling="no" title="Sean Goresht's Music" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/6011994&amp;color=%23171c19&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true" width="100%" height="450" frameborder="no"></iframe>
		<p>I started playing keyboard at the age of 13, and have since gone on to make some breathtaking musical scores. I do not play in any bands, but I try to get out and participate in open mics.</p>
		<p><a href="https://soundcloud.com/sean-goresht" target="_blank" rel="noopener noreferrer">Listen to my tracks online on soundcloud</a></p>
	</PageSection>

	<PageSection id="scuba-diving" as |nestedSection|>
		<nestedSection.title>Scuba Diving</nestedSection.title>
		<p>Catch me underwater? Quite possible, because I have made diving one of my passions.</p>
		<p>I try to go diving whenever I can. I have the following certifications:</p>
		<ul>
			<li>Open Water</li>
			<li>Advanced Open Water</li>
			<li>Nitrox Certification</li>
			<li>Dry Suit Diver</li>
			<li>Rescue Diver</li>
		</ul>
	</PageSection>
</PageSection>

{{outlet}}