{{page-title "Home"}}

<OverlayedImage @image="sean-wild-hair.jpg" @offset={{"-30%"}} @alt="Sean Goresht, eyeing camera conspicuously with wavvy hair" as |section|>
	<section.title>Sean Goresht</section.title>
	<section.description>Front-end web developer, coder, musician, creative</section.description>
	<SocialLinks/>
</OverlayedImage>

<PageSection id="specialties" as |section|>
	<section.title>Specialties</section.title>
	<p>Creating rich <em>Javascript</em> applications has been a passion of mine since the early 2000s. From <LinkTo @route="resume">teaching at various institutions</LinkTo>, I have a strong understanding of the way <abbr title="Single Page Applications">SPA</abbr> frameworks work:</p>
	<ul class="specialties">
		<li class="specialty">
			<strong title="Useful for client-side diffing and apps that require frequently-updating data"><a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer">ReactJS</a></strong>: worked with gatsby, react-starter, and current instructor/mentor at <a href="https://lighthouselabs.ca/" target="_blank" rel="noopener noreferrer">LightHouse Labs</a></li>
		<li class="specialty">
			<strong><a href="http://web.archive.org/web/20201108175156/https://vuejs.org/">VueJS</a></strong>: written, contributed, and worked in <a href="/https://www.npmjs.com/package/vue-cli-plugin-cordova" target="_blank" rel="noopener noreferrer">vue-cordorva</a> packages; met and spoke with Evan You, creator in late 2017 at <a href="https://dotcss.io/">DotCSS</a>
		</li>
		<li class="specialty">
			<strong><a href="http://web.archive.org/web/20201108175156/https://angularjs.org/" target="_blank" rel="noopener noreferrer">AngularJS</a></strong>: 4 years' experience; worked in enterprise companies developing financial recordkeeping apps along with <LinkTo @route="resume">identity management software</LinkTo></li>
		<li class="specialty">
			<strong><a href="https://emberjs.com/" target="_blank" rel="noopener noreferrer">EmberJS</a></strong>: early adopter since sproutCore days; open-source contributor. 8 years' experience
		</li>
	</ul>
	<LinkTo @route="resume">View my detailed work history</LinkTo>
</PageSection>

<PageSection id="other-specialties" as |section|>
	<section.title>Other Specialties</section.title>
	<ul class="sub-specialties">
		<li class="sub-specialty">HTML</li>
		<li class="sub-specialty">Web Accessibility</li>
		<li class="sub-specialty">CSS</li>
		<li class="sub-specialty">JavaScript</li>
		<li class="sub-specialty">SEO, HTML5 Microdata</li>
	</ul>
	<aside>
		<p>
			<small>(<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter" target="_blank" rel="nofollow noopener noreferrer"><code>&lt;meter&gt;</code></a> on skills are pointless; I am <em>good</em> at all of these things)
			</small>
		</p>
	</aside>
	<p><LinkTo @route="projects">View my work samples</LinkTo></p>
</PageSection>

{{outlet}}