{{page-title "Home"}}

<ul class="posts">
	{{#each @model as |post|}}
		<li class="post-container">
			<article class="post">
				<h1>{{post.title}}</h1>
				<dl class="post-meta">
					<dt>ID</dt>
					<dd>{{post.id}}</dd>
				</dl>
			</article>
		</li>
	{{/each}}
</ul>

{{outlet}}